<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Timestamps Microservice</h1>

    <p>Timestamp:</p>

    <ul>
        <li><a href="api/timestamp/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/timestamps/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

   
</body>
</html>